<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<footer th:fragment="fragment-footer">
    <br>
    <div class="jumbotron text-center" style="margin-top:0">
        <p>Created by KIM</p>
       <p>🏛 스프링 부트 전문가</p>
        <a href="https://blog.naver.com/sosow0212" target="_blank" style="text-decoration:none; color: black">🔗 Blog</a><br>
        <a href="https://github.com/sosow0212" target="_blank" style="text-decoration:none; color: black">🔗 Github</a>

    </div>
</footer>
</html>

